@import "tailwindcss";

@font-face {
  font-family: 'Alfa';
  src: url('fonts/AlfaSlabOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@theme {
  --breakpoint-xl: 90rem;

  --font-heading: "Alfa", "sans-serif";
  --font-open: "OpenSans", "sans-serif";

  /* Colors */
  --color-primary: #023A84;
  --color-secondary: #FFDE59;
  --color-tertiary: #B41B1B;
  --color-shadow: rgba(0, 0, 0, 0.4);
}

@layer base {

  html,
  body,
  #root {
    @apply w-screen min-h-screen font-open;
  }

  h1 {
    @apply font-heading text-3xl lg:text-6xl uppercase;
  }
}

@layer components {}

@layer utilities {}