@import "tailwindcss";

@theme {
  --breakpoint-xl: 90rem;

  --font-heading: "Alfa Slab One", serif;
  --font-open: "Open Sans", sans-serif;

  /* Colors */
  --color-primary: #023A84;
  --color-secondary: #FFDE59;
  --color-tertiary: #B41B1B;
  --color-shadow: rgba(0, 0, 0, 0.4);
}

@layer base {

  html,
  body,
  #root {
    @apply w-screen min-h-screen font-open;
  }

  h1 {
    @apply font-heading text-3xl lg:text-6xl uppercase;
  }
}

@layer components {}

@layer utilities {}